In [2]:
import pandas as pd

In [3]:
bti_df=pd.read_csv('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\data-BTI-2006-2018-UTF8.csv') #en cas d'erreur de type enconding utilisé un éditeur de texte tel que NotePad++ 'Encodage','Encoder en UTF-8(sansBOM)'and save

In [4]:
bti_df.head()

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
0,Afghanistan,AFG,2006,Asia and Oceania,112,3.019048,109,2.966667,3.00,2,...,Fair,Fair,Poor,Flawed,Poor,Excellent,Flawed,Poor,Flawed,Sound
1,Afghanistan,AFG,2008,Asia and Oceania,120,3.136905,108,3.416667,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Sound
2,Afghanistan,AFG,2010,Asia and Oceania,124,2.810714,123,2.800000,2.75,1,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
3,Afghanistan,AFG,2012,Asia and Oceania,124,2.821429,124,2.750000,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
4,Afghanistan,AFG,2014,Asia and Oceania,122,2.965476,120,2.966667,3.50,3,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair

In [5]:
df = pd.read_pickle('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\savedDF.pickle')

In [6]:
df.head()

,Country (according to CN Gov):,Date of research inquiry,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking),Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking,IMF WB Customs and other import duties (% of tax revenue) 2016,WB IMF Non-performing loans to total gross loans ratio (%),Moody's Socvereign Ratings List,S&P Sovereign Ratings List,...,WB Cost of Starting a Business,WB Ease of Doing Business Index (1 = most business-friendly regulations),WB Logistics Performance Index (LPI) (range: 1-5),IFDI Net Inflows (% of GDP),ED National Electric Power Consumption TwH,"WHO Current Health Expenditure p.c., PPP USD",WB Research Expenditure % of GDP,WIPO Trademark applications,WIPO Patent Applications,isocode
1,Afghanistan,NaT,NaN,NaN,NaN,NaN,35.2031,12.2018,NaN,NaN,...,NaN,NaN,NaN,0.718898,NaN,162.781,NA,NA,NA,AFG
2,Albania,NaT,NaN,NaN,NaN,NaN,2.21646,13.2325,NaN,NaN,...,NaN,NaN,NaN,8.01551,NaN,759.667,0.15412,1232,14,ALB
3,Armenia,NaT,NaN,NaN,NaN,NaN,6.27539,5.43232,NaN,NaN,...,NaN,NaN,NaN,2.04411,NaN,876.857,0.2277,2685,107,ARM
4,Azerbaijan,NaT,NaN,NaN,NaN,NaN,7.57185,NA,NaN,NaN,...,NaN,NaN,NaN,2.98895,NaN,1193.06,0.18521,2817,144,AZE
5,Bahrain,NaT,NaN,NaN,NaN,NaN,27.3861,NA,NaN,NaN,...,NaN,NaN,NaN,4.01407,NaN,1866.3,0.10116,253,8,BHR

In [7]:
#conditon that we only want to have the data of the year 2018 of the Data frame
bti_df[bti_df['year'] == 2018]
#bti_df[bti_df['country_code'] == 'BRN'] #no value for BRN, we will skip this country

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
6,Afghanistan,AFG,2018,Asia and Oceania,121,2.954762,114,3.016667,3.75,2,...,Flawed,Flawed,Flawed,Flawed,Flawed,Excellent,Flawed,Flawed,Flawed,Fair
13,Albania,ALB,2018,East-Central and Southeast Europe,30,6.828571,34,7.050000,9.00,10,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound
20,Algeria,DZA,2018,Middle East and North Africa,83,4.982143,79,4.750000,7.50,8,...,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair
27,Angola,AGO,2018,South and East Africa,105,3.939286,87,4.200000,7.50,8,...,Fair,Flawed,Flawed,Flawed,Flawed,Fair,Flawed,Flawed,Flawed,Fair
34,Argentina,ARG,2018,Latin America and the Caribbean,23,7.267857,19,8.000000,9.00,8,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound
41,Armenia,ARM,2018,Post Soviet Eurasia,61,5.576190,72,5.116667,8.50,9,...,Sound,Sound,Fair,Fair,Fair,Flawed,Fair,Flawed,Flawed,Fair
48,Azerbaijan,AZE,2018,Post Soviet Eurasia,100,4.127381,107,3.433333,7.25,5,...,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Flawed,Flawed,Fair
55,Bahrain,BHR,2018,Middle East and North Africa,89,4.616667,112,3.233333,6.25,6,...,Sound,Sound,Fair,Fair,Fair,Flawed,Flawed,Flawed,Flawed,Fair
62,Bangladesh,BGD,2018,Asia and Oceania,79,5.111905,80,4.616667,6.75,6,...,Sound,Sound,Flawed,Sound,Fair,Sound,Flawed,Flawed,Flawed,Sound
69,Belarus,BLR,2018,Post Soviet Eurasia,86,4.720238,85,4.333333,8.50,10,...,Fair,Flawed,Fair,Flawed,Fair,Flawed,Flawed,Flawed,Flawed,Fair
76,Benin,BEN,2018,West and Central Africa,41,6.425000,21,7.850000,8.25,9,...,Sound,Fair,Flawed,Fair,Fair,Fair,Fair,Fair,Sound,Sound
82,Bhutan,BTN,2018,Asia and Oceania,45,6.247619,40,6.566667,7.25,8,...,Fair,Sound,Fair,Sound,Sound,Fair,Sound,Sound,Fair,Sound
89,Bolivia,BOL,2018,Latin America and the Caribbean,39,6.457143,31,7.200000,8.50,8,...,Sound,Fair,Fair,Sound,Fair,Fair,Sound,Fair,Sound,Sound
96,Bosnia and Herzegovina,BIH,2018,East-Central and Southeast Europe,43,6.282143,57,6.100000,7.00,8,...,Sound,Sound,Fair,Fair,Fair,Fair,Flawed,Flawed,Fair,Fair
103,Botswana,BWA,2018,South and East Africa,16,7.885715,16,8.200000,9.00,10,...,Excellent,Excellent,Sound,Sound,Sound,Flawed,Sound,Sound,Sound,Excellent
110,Brazil,BRA,2018,Latin America and the Caribbean,22,7.289286,23,7.650000,8.25,7,...,Sound,Excellent,Sound,Fair,Sound,Flawed,Fair,Fair,Sound,Excellent
117,Bulgaria,BGR,2018,East-Central and Southeast Europe,17,7.800000,18,8.100000,9.50,10,...,Excellent,Excellent,Sound,Fair,Sound,Flawed,Fair,Fair,Sound,Sound
124,Burkina Faso,BFA,2018,West and Central Africa,67,5.450000,49,6.400000,7.50,6,...,Sound,Fair,Flawed,Fair,Flawed,Sound,Fair,Flawed,Fair,Sound
131,Burundi,BDI,2018,South and East Africa,104,3.971428,93,3.800000,7.00,6,...,Fair,Fair,Flawed,Flawed,Flawed,Sound,Flawed,Flawed,Flawed,Flawed
138,Cambodia,KHM,2018,Asia and Oceania,103,3.997619,103,3.566667,7.75,8,...,Fair,Flawed,Flawed,Sound,Flawed,Sound,Flawed,Flawed,Flawed,Fair
145,Cameroon,CMR,2018,West and Central Africa,98,4.226191,90,3.916667,6.25,7,...,Fair,Flawed,Fair,Fair,Flawed,Sound,Flawed,Flawed,Flawed,Fair
152,Central African Republic,CAF,2018,West and Central Africa,117,3.282143,100,3.600000,3.50,2,...,Fair,Flawed,Flawed,Flawed,Poor,Excellent,Flawed,Flawed,Flawed,Fair
159,Chad,TCD,2018,West and Central Africa,115,3.314286,106,3.450000,6.50,7,...,Fair,Flawed,Flawed,Flawed,Flawed,Sound,Poor,Poor,Flawed,Fair
166,Chile,CHL,2018,Latin America and the Caribbean,7,8.867857,7,9.200000,9.75,9,...,Excellent,Excellent,Sound,Sound,Sound,Poor,Sound,Excellent,Excellent,Excellent
173,China,CHN,2018,Asia and Oceania,81,5.016666,109,3.283333,8.75,9,...,Sound,Fair,Fair,Excellent,Sound,Fair,Fair,Fair,Flawed,Sound
180,Colombia,COL,2018,Latin America and the Caribbean,34,6.589286,38,6.750000,7.25,7,...,Sound,Sound,Fair,Fair,Fair,Fair,Sound,Fair,Fair,Sound
187,"Congo, DR",ZAR,2018,West and Central Africa,120,3.126191,105,3.466667,5.50,3,...,Flawed,Flawed,Poor,Fair,Poor,Sound,Poor,Poor,Flawed,Flawed
193,"Congo, Rep.",COG,2018,West and Central Africa,111,3.375000,110,3.250000,6.25,6,...,Fair,Flawed,Flawed,Fair,Flawed,Sound,Flawed,Flawed,Poor,Fair
200,Costa Rica,CRI,2018,Latin America and the Caribbean,12,8.489285,8,9.050000,9.25,9,...,Excellent,Excellent,Sound,Sound,Sound,Poor,Sound,Sound,Excellent,Excellent
207,Croatia,HRV,2018,East-Central and Southeast Europe,14,8.067858,14,8.350000,9.25,10,...,Sound,Sound,Sound,Sound,Sound,Poor,Sound,Sound,Sound,Sound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,Serbia,SRB,2018,East-Central and Southeast Europe,19,7.403571,22,7.700000,9.00,9,...,Sound,Sound,Sound,Fair,Sound,Flawed,Sound,Sound,Sound,Sound
694,Sierra Leone,SLE,2018,West and Central Africa,74,5.146429,55,6.150000,7.50,8,...,Fair,Fair,Flawed,Fair,Flawed,Sound,Fair,Flawed,Fair,Sound
701,Singapore,SGP,2018,Asia and Oceania,24,7.154762,69,5.416667,10.00,10,...,Excellent,Excellent,Sound,Sound,Excellent,Flawed,Fair,Excellent,Fair,Excellent
708,Slovakia,SVK,2018,East-Central and Southeast Europe,9,8.585714,10,8.600000,9.50,10,...,Excellent,Excellent,Excellent,Sound,Sound,Poor,Sound,Sound,Sound,Excellent
715,Slovenia,SVN,2018,East-Central and Southeast Europe,6,9.178572,6,9.250000,9.50,10,...,Excellent,Excellent,Excellent,Sound,Excellent,Poor,Sound,Sound,Excellent,Excellent
722,Somalia,SOM,2018,South and East Africa,129,1.341667,129,1.433333,2.00,1,...,Poor,Poor,Poor,Poor,Poor,Excellent,Poor,Poor,Flawed,Flawed
729,South Africa,ZAF,2018,South and East Africa,26,6.960714,24,7.600000,8.00,8,...,Sound,Sound,Fair,Fair,Fair,Flawed,Sound,Fair,Sound,Sound
736,South Korea,KOR,2018,Asia and Oceania,11,8.546429,13,8.450000,10.00,10,...,Excellent,Excellent,Sound,Excellent,Excellent,Poor,Sound,Sound,Sound,Excellent
739,South Sudan,SSD,2018,South and East Africa,124,2.272619,121,2.616667,5.00,3,...,Flawed,Flawed,Flawed,Poor,Poor,Excellent,Poor,Poor,Poor,Flawed
746,Sri Lanka,LKA,2018,Asia and Oceania,33,6.614285,41,6.550000,7.25,9,...,Sound,Sound,Sound,Sound,Fair,Fair,Fair,Fair,Sound,Sound
753,Sudan,SDN,2018,Middle East and North Africa,123,2.277381,125,2.233333,3.25,4,...,Flawed,Flawed,Poor,Poor,Poor,Excellent,Poor,Poor,Poor,Poor
760,Syria,SYR,2018,Middle East and North Africa,128,1.571429,128,1.750000,2.50,1,...,Poor,Poor,Poor,Poor,Poor,Excellent,Poor,Poor,Poor,Poor
767,Taiwan,TWN,2018,Asia and Oceania,3,9.417857,3,9.550000,10.00,10,...,Excellent,Excellent,Excellent,Sound,Excellent,Poor,Sound,Excellent,Excellent,Excellent
774,Tajikistan,TJK,2018,Post Soviet Eurasia,115,3.313095,117,2.983333,7.50,9,...,Fair,Flawed,Fair,Flawed,Flawed,Sound,Flawed,Flawed,Poor,Fair
781,Tanzania,TZA,2018,South and East Africa,64,5.514286,57,6.100000,7.00,8,...,Sound,Fair,Flawed,Fair,Flawed,Sound,Fair,Flawed,Fair,Sound
788,Thailand,THA,2018,Asia and Oceania,87,4.714286,110,3.250000,6.75,7,...,Sound,Sound,Fair,Fair,Fair,Fair,Flawed,Fair,Flawed,Fair
795,Togo,TGO,2018,West and Central Africa,84,4.890476,73,5.066667,8.00,9,...,Sound,Fair,Flawed,Fair,Flawed,Fair,Fair,Fair,Fair,Sound
802,Tunisia,TUN,2018,Middle East and North Africa,44,6.267857,43,6.500000,7.50,7,...,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Sound,Sound
809,Turkey,TUR,2018,Middle East and North Africa,51,6.167857,67,5.550000,6.75,6,...,Sound,Sound,Sound,Sound,Fair,Fair,Fair,Fair,Flawed,Fair
816,Turkmenistan,TKM,2018,Post Soviet Eurasia,119,3.139286,120,2.850000,8.00,10,...,Flawed,Flawed,Flawed,Fair,Flawed,Fair,Flawed,Poor,Poor,Flawed
823,Uganda,UGA,2018,South and East Africa,59,5.663095,68,5.433333,7.50,8,...,Excellent,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Sound
830,Ukraine,UKR,2018,Post Soviet Eurasia,36,6.539286,36,6.900000,7.50,5,...,Sound,Sound,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Sound
837,United Arab Emirates,ARE,2018,Middle East and North Africa,52,6.071429,89,4.000000,8.50,10,...,Excellent,Sound,Sound,Excellent,Sound,Flawed,Fair,Sound,Fair,Excellent
844,Uruguay,URY,2018,Latin America and the Caribbean,5,9.189285,1,9.950000,10.00,10,...,Excellent,Excellent,Excellent,Sound,Sound,Poor,Sound,Sound,Excellent,Excellent
851,Uzbekistan,UZB,2018,Post Soviet Eurasia,108,3.726191,113,3.166667,8.00,9,...,Fair,Flawed,Fair,Fair,Fair,Fair,Flawed,Flawed,Flawed,Flawed
858,Venezuela,VEN,2018,Latin America and the Caribbean,110,3.471428,93,3.800000,7.25,5,...,Poor,Flawed,Fair,Poor,Flawed,Flawed,Poor,Poor,Poor,Flawed
865,Vietnam,VNM,2018,Asia and Oceania,94,4.407143,108,3.350000,8.75,9,...,Sound,Fair,Fair,Sound,Fair,Fair,Fair,Flawed,Flawed,Sound
872,Yemen,YEM,2018,Middle East and North Africa,127,1.721429,127,1.800000,2.00,1,...,Poor,Flawed,Poor,Poor,Poor,Excellent,Poor,Poor,Poor,Flawed
879,Zambia,ZMB,2018,South and East Africa,67,5.446428,61,6.000000,7.75,9,...,Sound,Fair,Fair,Fair,Flawed,Fair,Fair,Flawed,Fair,Sound
886,Zimbabwe,ZWE,2018,South and East Africa,113,3.327381,92,3.833333,7.00,9,...,Flawed,Flawed,Flawed,Poor,Flawed,Sound,Poor,Poor,Flawed,Flawed

In [8]:
#comparer les isocodes de notre excel et les excel du bti et récupérer la valeur lorsque les 2 isocodes se correspondent
bti_2018 = bti_df[bti_df['year'] == 2018]
for index, isocode in df.isocode.iteritems(): #df.isocode est une autre maière d'appeler la code isocode de df plutot que [""]
    try:
        ind = bti_2018[bti_2018['country_code'] == isocode]['stat_ind'] #on parcoure les 2 colonnes d'isocode et on récupère la valeur de l'indicateur
        rank = bti_2018[bti_2018['country_code'] == isocode]['rank_stat_ind'] 
        df.at[index,'Bertelsmann Transformation index (BTI)'] = ind #on met le résultat trouvé dans la bonne colonne du Excel
        df.at[index,'Bertelsmann Transformation index (BTI) - Ranking'] = rank
    except ValueError: 
        print('[critical]:no data for',isocode) 
        continue
df[['Country (according to CN Gov):','Bertelsmann Transformation index (BTI)','Bertelsmann Transformation index (BTI) - Ranking']]

[critical]:no data for BRN
[critical]:no data for TLS
[critical]:no data for FRA
[critical]:no data for DEU
[critical]:no data for IOT
[critical]:no data for ISR
[critical]:no data for MDV
[critical]:no data for ROU
[critical]:no data for GBR
[critical]:no data for USA

,Country (according to CN Gov):,Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking
1,Afghanistan,2.954762,121.0
2,Albania,6.828571,30.0
3,Armenia,5.576190,61.0
4,Azerbaijan,4.127381,100.0
5,Bahrain,4.616667,89.0
6,Bangladesh,5.111905,79.0
7,Belarus,4.720238,86.0
8,Bhutan,6.247619,45.0
9,Bosnia and Herzegovina,6.282143,43.0
10,Brunei,NaN,NaN
11,Bulgaria,7.800000,17.0
12,Cambodia,3.997619,103.0
13,China,5.016666,81.0
14,Croatia,8.067858,14.0
15,Czech Republic,9.521429,1.0
16,East Timor,NaN,NaN
17,Egypt,4.278572,96.0
18,Estonia,9.517857,1.0
19,France (Not BRI),NaN,NaN
20,Georgia,6.417857,42.0
21,Germany (not BRI),NaN,NaN
22,Hungary,7.432143,18.0
23,India,NaN,NaN
24,Indonesia,6.250000,45.0
25,Iran,3.154762,118.0
26,Iraq,3.746428,107.0
27,Israel,NaN,NaN
28,Jordan,5.219048,72.0
29,Kazakhstan,4.703571,88.0
30,Kuwait,5.607143,60.0
...,...,...,...
39,Moldova,5.957143,54.0
40,Mongolia,6.592857,34.0
41,Montenegro,7.346429,20.0
42,Myanmar,3.375000,111.0
43,Nepal,4.521429,92.0
44,Oman,4.428572,93.0
45,Pakistan,4.010715,102.0
46,Philippines,6.471429,38.0
47,Poland,8.578571,10.0
48,Qatar,5.884524,56.0
49,Romania,NaN,NaN
50,Russia,5.310715,70.0
51,Saudi Arabia,4.265476,97.0
52,Serbia,7.403571,19.0
53,Singapore,7.154762,24.0
54,Slovakia,8.585714,9.0
55,Slovenia,9.178572,6.0
56,Sri Lanka,6.614285,33.0
57,Syria,1.571429,128.0
58,Tajikistan,3.313095,115.0
59,Thailiand,4.714286,87.0
60,The United Arab Emirates,6.071429,52.0
61,Turkey,6.167857,51.0
62,Turkmenistan,3.139286,119.0
63,United Kingdom (Not BRI),NaN,NaN
64,United States of America (Not BRI),NaN,NaN
65,Ukraine,6.539286,36.0
66,Uzbekistan,3.726191,108.0
67,Vietnam,4.407143,94.0
68,Yemen,1.721429,127.0

In [9]:
cpi_df = pd.read_excel('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\data-CPI-2018.xlsx',header=2)
cpi_df.columns
cpi_df.head()

,Country,ISO3,Region,CPI Score 2018,Rank,Standard error,Number of sources,Upper CI,Lower CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index,Varieties of Democracy Project
0,Denmark,DNK,WE/EU,88,1,2.63,8,92,84,NaN,...,90.0,NaN,83,97.0,NaN,92.0,NaN,79.0,88.0,78.0
1,New Zealand,NZL,AP,87,2,2.44,8,91,83,NaN,...,90.0,NaN,83,92.0,NaN,93.0,NaN,83.0,82.0,77.0
2,Finland,FIN,WE/EU,85,3,2.74,8,89,81,NaN,...,72.0,NaN,83,93.0,NaN,93.0,NaN,90.0,86.0,76.0
3,Singapore,SGP,AP,85,3,1.98,9,88,82,NaN,...,90.0,NaN,83,90.0,89.0,85.0,NaN,90.0,85.0,78.0
4,Sweden,SWE,WE/EU,85,3,2.02,8,88,82,NaN,...,90.0,NaN,83,81.0,NaN,93.0,NaN,77.0,86.0,78.0

In [10]:
for index, isocode in df.isocode.iteritems(): #df.isocode est une autre maière d'appeler la code isocode de df plutot que [""]
    try:
        ind =cpi_df[cpi_df['ISO3'] == isocode]['CPI Score 2018'] #on parcoure les 2 colonnes d'isocode et on récupère la valeur de l'indicateur
        rank = cpi_df[cpi_df['ISO3'] == isocode]['Rank '] 
        df.at[index,'Corruption Perception Index'] = ind #on met le résultat trouvé dans la bonne colonne du Excel
        df.at[index,'Corruption Perception Index - Ranking'] = rank
    except ValueError: 
        print('[critical]:no data for',isocode) 
        continue

[critical]:no data for AFG
[critical]:no data for ALB
[critical]:no data for IOT

In [11]:
heritage_df = pd.read_excel('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\data-heritage-2019.xls')

In [12]:
heritage_df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6

In [13]:
for index, name in df['Country (according to CN Gov):'].iteritems():
    cleaned_name = name.split('(')[0].strip()
    if cleaned_name == 'Thailiand':
        cleaned_name = 'Thailand'
    elif cleaned_name == 'The United Arab Emirates':
        cleaned_name = 'United Arab Emirates'
    elif cleaned_name == 'Brunei':
        cleaned_name = 'Brunei Darussalam'
    elif cleaned_name == 'Myanmar':
        cleaned_name = 'Burma'
    elif cleaned_name == 'East Timor':
        cleaned_name = 'Timor-Leste'
    elif cleaned_name == 'Kyrgyzstan':
        cleaned_name = 'Kyrgyz Republic'
    elif cleaned_name == 'United States of America':
        cleaned_name = 'United States'
    
    
    try:
        ind = heritage_df[heritage_df['Country Name']==cleaned_name]['2019 Score']
        rank = heritage_df[heritage_df['Country Name']==cleaned_name]['World Rank']
        df.at[index,'HF Index of Economic Freedom (Scale: 1-100)'] = ind
        df.at[index,'Heritage Foundation Index of Economic Freedom (Global Ranking)'] = rank
    except ValueError:
        print('[critical]:no data for',cleaned_name)
        continue

In [14]:
df.describe()

,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking),Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking,TI Corruption Perception Index,TI Corruption Perception Index - Ranking,BRI GDP,BRI GDP p.c.,BRI GDP growth rate,BRI Y.o.Y. GDP growth rate p.c.,...,WB Central Government Debt,BRI Internet penetration rate (%),BRI Population density (/km2),BRI Percentage of Urban Population in Total Population,WB Cost of Starting a Business,WB Ease of Doing Business Index (1 = most business-friendly regulations),WB Logistics Performance Index (LPI) (range: 1-5),ED National Electric Power Consumption TwH,Corruption Perception Index,Corruption Perception Index - Ranking
count,65.000000,65.000000,58.000000,58.000000,2.000000,2.000000,2.000000e+00,2.000000,2.000000,2.000000,...,0.0,2.000000,2.000000,2.000000,2.000000,0.0,3.000000,1.0,66.000000,65.000000
mean,63.170769,79.446154,5.686618,62.637931,34.000000,111.500000,1.571338e+11,5462.427828,0.059942,0.043939,...,NaN,0.382500,90.283916,0.477140,28.350000,NaN,3.333333,149.0,42.939394,86.938462
std,8.686425,46.201674,1.899715,38.300611,18.384776,70.003571,1.966943e+11,6086.404541,0.014734,0.013096,...,NaN,0.413657,2.876320,0.381710,32.456201,NaN,0.815925,NaN,16.975891,47.532514
min,44.200000,2.000000,1.571429,1.000000,21.000000,62.000000,1.804995e+10,1158.689904,0.049524,0.034679,...,NaN,0.090000,88.250051,0.207230,5.400000,NaN,2.580000,149.0,13.000000,3.000000
25%,55.600000,43.000000,4.310715,31.500000,27.500000,86.750000,8.759188e+10,3310.558866,0.054733,0.039309,...,NaN,0.236250,89.266984,0.342185,16.875000,NaN,2.900000,149.0,31.000000,41.000000
50%,63.800000,71.000000,5.745833,58.000000,34.000000,111.500000,1.571338e+11,5462.427828,0.059942,0.043939,...,NaN,0.382500,90.283916,0.477140,28.350000,NaN,3.220000,149.0,38.000000,89.000000
75%,68.300000,121.000000,6.724108,95.500000,40.500000,136.250000,2.266757e+11,7614.296790,0.065152,0.048569,...,NaN,0.528750,91.300849,0.612095,39.825000,NaN,3.710000,149.0,56.500000,124.000000
max,89.400000,172.000000,9.521429,128.000000,47.000000,161.000000,2.962176e+11,9766.165752,0.070361,0.053200,...,NaN,0.675000,92.317781,0.747050,51.300000,NaN,4.200000,149.0,85.000000,178.000000

In [21]:
iso_codes = pd.read_csv('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\country-iso.csv')
def getiso2(iso3):
    return str(iso_codes[iso_codes['Alpha-3 code'] == iso3]['Alpha-2 code'][0])
getiso2('AFG')

'AF'

In [32]:
ratings = pd.read_csv('C:\\Users\\Alex\\Documents\\UTC\\UTSEUS\\US01\\data-ratings-2015.csv', sep =';') #cette librairie lit fichier texte séparé par ',' et certains csv sont séparés par des points virgules on doit donc spécifier cela que le fichier utilisé 
ratings_2015 = ratings[ratings['Year'] == 2015]
ratings_2015[['Country2Code', 'SP_NumericRating','Moodys_NumericRating','Fitch_NumericRating']]

     Country2Code  SP_NumericRating  Moodys_NumericRating  Fitch_NumericRating
14             DO               9.0                   8.0                  8.0
31             MA              12.0                  11.0                 12.0
32             AO               8.0                  10.0                  8.0
38             AL               7.0                   8.0                  NaN
47             AE              19.0                  19.0                 19.0
70             AR               0.0                   2.0                  NaN
73             AM               NaN                   9.0                  8.0
109            AU              21.0                  21.0                 21.0
145            AT              20.0                  21.0                 20.0
153            AZ              12.0                  12.0                 12.0
177            BE              19.0                  18.0                 19.0
195            BG              11.0                  13.0                 12.0
209            BH              12.0                   NaN                 12.0
217            BA               7.0                   6.0                  NaN
223            BY               6.0                   5.0                  NaN
239            BZ               6.0                   4.0                  NaN
261            BR              11.0                  12.0                 11.0
278            BB               7.0                   6.0                  NaN
302            CA              21.0                  21.0                 21.0
324            CH              21.0                   NaN                 21.0
346            CL              18.0                  18.0                 17.0
369            CN              18.0                  18.0                 17.0
371            CI               NaN                   9.0                  8.0
384            CM               7.0                   NaN                  7.0
407            CO              13.0                  13.0                 13.0
426            CR              10.0                  11.0                 11.0
447            CZ              18.0                  17.0                 17.0
470            DE              21.0                  21.0                 21.0
500            DK              21.0                  21.0                 21.0
516            EC               7.0                   6.0                  7.0
...           ...               ...                   ...                  ...
1180          NaN               NaN                  12.0                 12.0
1190           NG               8.0                   NaN                  9.0
1212           NL              21.0                  21.0                 21.0
1245           NO              21.0                  21.0                 21.0
1275           NZ              19.0                  21.0                 19.0
1302           PK               6.0                   6.0                  7.0
1321           PA              13.0                  13.0                 13.0
1340           PE              14.0                  15.0                 14.0
1363           PH              13.0                  13.0                 12.0
1395           PL              15.0                  16.0                 15.0
1419           PT              11.0                  11.0                  NaN
1422           PY              10.0                  11.0                 10.0
1439           QA              19.0                  19.0                  NaN
1444           RW               8.0                   NaN                  8.0
1456           SA              17.0                   NaN                 19.0
1461           SN               8.0                   8.0                  NaN
1475           SV               8.0                   9.0                  8.0
1486           RS               9.0                   8.0                  8.0
1506           SI              15.0                  12.0                 14.0
1542           SE              21.0                  21.0                 21.0
1569           TH              14.0                  14.0                 14.0
1589           TT              16.0                  13.0                  NaN
1627           TR              11.0                  12.0                 12.0
1635           UG               7.0                   NaN                  8.0
1650           UA               6.0                   3.0                  4.0
1672           UY              13.0                  13.0                 12.0
1694           US              20.0                   NaN                 21.0
1708           VN               9.0                   8.0                  9.0
1730           ZA              12.0                  13.0                 12.0
1734           ZM               7.0                   NaN                  7.0

[96 rows x 4 columns]

In [35]:
for index, isocode in df.isocode.iteritems():
    try:
        sp = ratings_2015.loc[ratings_2015['Country2Code'] == isocode]['SP_NumericRating']
        moody = ratings_2015.loc[ratings_2015['Country2Code'] == isocode]['Moodys_NumericRating']
        fitch = ratings_2015.loc[ratings_2015['Country2Code'] == isocode]['Fitch_NumericRating']
        df.at[index,'S&P Sovereign Ratings List'] = sp
        df.at[index,"Moody's Sovereign Ratings List"] = moody
        df.at[index,'Fitch Sovereign Ratings List'] = fitch
    except ValueError:
        print('[critical]: no data for', isocode)
        continue
df[['S&P Sovereign Ratings List', "Moody's Sovereign Ratings List", 'Fitch Sovereign Ratings List']]

[critical]: no data for AFG
[critical]: no data for ALB
[critical]: no data for ARM
[critical]: no data for AZE
[critical]: no data for BHR
[critical]: no data for BGD
[critical]: no data for BLR
[critical]: no data for BTN
[critical]: no data for BIH
[critical]: no data for BRN
[critical]: no data for BGR
[critical]: no data for KHM
[critical]: no data for CHN
[critical]: no data for HRV
[critical]: no data for CZE
[critical]: no data for TLS
[critical]: no data for EGY
[critical]: no data for EST
[critical]: no data for FRA
[critical]: no data for GEO
[critical]: no data for DEU
[critical]: no data for HUN
[critical]: no data for IOT
[critical]: no data for IDN
[critical]: no data for IRN
[critical]: no data for IRQ
[critical]: no data for ISR
[critical]: no data for JOR
[critical]: no data for KAZ
[critical]: no data for KWT
[critical]: no data for KGZ
[critical]: no data for LAO
[critical]: no data for LVA
[critical]: no data for LBN
[critical]: no data for LTU
[critical]: no data for MKD
[critical]: no data for MYS
[critical]: no data for MDV
[critical]: no data for MDA
[critical]: no data for MNG
[critical]: no data for MNE
[critical]: no data for MMR
[critical]: no data for NPL
[critical]: no data for OMN
[critical]: no data for PAK
[critical]: no data for PHL
[critical]: no data for POL
[critical]: no data for QAT
[critical]: no data for ROU
[critical]: no data for RUS
[critical]: no data for SAU
[critical]: no data for SRB
[critical]: no data for SGP
[critical]: no data for SVK
[critical]: no data for SVN
[critical]: no data for LKA
[critical]: no data for SYR
[critical]: no data for TJK
[critical]: no data for THA
[critical]: no data for ARE
[critical]: no data for TUR
[critical]: no data for TKM
[critical]: no data for GBR
[critical]: no data for USA
[critical]: no data for UKR
[critical]: no data for UZB
[critical]: no data for VNM
[critical]: no data for YEM

,S&P Sovereign Ratings List,Moody's Sovereign Ratings List,Fitch Sovereign Ratings List
1,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
2,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
3,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
4,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
5,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
6,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
7,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
8,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
9,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
10,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
11,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
12,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
13,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
14,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
15,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
16,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
17,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
18,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
19,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
20,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
21,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
22,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
23,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
24,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
25,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
26,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
27,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
28,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
29,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
30,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
...,...,...,...
39,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
40,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
41,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
42,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
43,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
44,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
45,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
46,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
47,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
48,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
49,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
50,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
51,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
52,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
53,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
54,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
55,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
56,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
57,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
58,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
59,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
60,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
61,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
62,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
63,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
64,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
65,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
66,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
67,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN
68,"Series([], Name: SP_NumericRating, dtype: floa...",NaN,NaN

In [34]:
df

,Country (according to CN Gov):,Date of research inquiry,HF Index of Economic Freedom (Scale: 1-100),Heritage Foundation Index of Economic Freedom (Global Ranking),Bertelsmann Transformation index (BTI),Bertelsmann Transformation index (BTI) - Ranking,IMF WB Customs and other import duties (% of tax revenue) 2016,WB IMF Non-performing loans to total gross loans ratio (%),Moody's Socvereign Ratings List,S&P Sovereign Ratings List,...,IFDI Net Inflows (% of GDP),ED National Electric Power Consumption TwH,"WHO Current Health Expenditure p.c., PPP USD",WB Research Expenditure % of GDP,WIPO Trademark applications,WIPO Patent Applications,isocode,Corruption Perception Index,Corruption Perception Index - Ranking,Moody's Sovereign Ratings List
1,Afghanistan,NaT,51.5,152.0,2.954762,121.0,35.2031,12.2018,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.718898,NaN,162.781,NA,NA,NA,AFG,NaN,NaN,NaN
2,Albania,NaT,66.5,52.0,6.828571,30.0,2.21646,13.2325,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,8.01551,NaN,759.667,0.15412,1232,14,ALB,36.0,NaN,NaN
3,Armenia,NaT,67.7,47.0,5.576190,61.0,6.27539,5.43232,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.04411,NaN,876.857,0.2277,2685,107,ARM,35.0,105.0,NaN
4,Azerbaijan,NaT,65.4,60.0,4.127381,100.0,7.57185,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.98895,NaN,1193.06,0.18521,2817,144,AZE,25.0,152.0,NaN
5,Bahrain,NaT,66.4,54.0,4.616667,89.0,27.3861,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,4.01407,NaN,1866.3,0.10116,253,8,BHR,36.0,99.0,NaN
6,Bangladesh,NaT,55.6,121.0,5.111905,79.0,28.923,8.39791,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.07298,NaN,90.5984,NA,9247,61,BGD,26.0,149.0,NaN
7,Belarus,NaT,57.9,104.0,4.720238,86.0,8.20062,12.8522,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.47207,NaN,1151.41,0.58716,4453,434,BLR,44.0,70.0,NaN
8,Bhutan,NaT,62.9,74.0,6.247619,45.0,2.8405,8.41731,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.104527,NaN,293.11,NA,16,4,BTN,68.0,25.0,NaN
9,Bosnia and Herzegovina,NaT,61.9,83.0,6.282143,43.0,0.00015536,10.0463,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.45426,NaN,1123.43,0.19951,742,87,BIH,38.0,89.0,NaN
10,Brunei,NaT,65.1,63.0,NaN,NaN,NA,3.5384,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,3.77013,NaN,1812.41,0.03701,176,8,BRN,63.0,31.0,NaN
11,Bulgaria,NaT,69.0,37.0,7.800000,17.0,0.0688596,10.4345,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,3.96104,NaN,1577.94,0.78006,13438,202,BGR,42.0,77.0,NaN
12,Cambodia,2018-08-16,57.8,105.0,3.997619,103.0,13.542,2.07248,B2,"Series([], Name: SP_NumericRating, dtype: floa...",...,12.6266,NaN,228.571,0.11823,1182,2,KHM,20.0,161.0,NaN
13,China,NaT,58.4,100.0,5.016666,81.0,3.89434,1.74435,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.49537,NaN,761.488,2.10826,5539086,1245709,CHN,39.0,87.0,NaN
14,Croatia,NaT,61.4,86.0,8.067858,14.0,-0.0376306,11.2015,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.11224,NaN,1705.21,0.84581,4348,148,HRV,48.0,60.0,NaN
15,Czech Republic,NaT,73.7,23.0,9.521429,1.0,0.819567,3.74172,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,3.4636,NaN,2484.63,1.6783,20031,794,CZE,59.0,38.0,NaN
16,East Timor,NaT,44.2,172.0,NaN,NaN,4.77992,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.85688,NaN,121.676,NA,NA,NA,TLS,35.0,105.0,NaN
17,Egypt,NaT,52.5,144.0,4.278572,96.0,6.849,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.70934,NaN,516.343,0.60595,12750,918,EGY,35.0,105.0,NaN
18,Estonia,NaT,76.6,15.0,9.517857,1.0,0.039429,0.698391,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,3.93172,NaN,1987.72,1.28129,2197,37,EST,73.0,18.0,NaN
19,France (Not BRI),NaT,63.8,71.0,NaN,NaN,-0.0232445,3.08041,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.15476,NaN,4782.29,2.24805,252960,14415,FRA,72.0,21.0,NaN
20,Georgia,NaT,75.9,16.0,6.417857,42.0,0.757021,2.7788,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,7.30479,NaN,797.176,0.30104,2742,75,GEO,58.0,41.0,NaN
21,Germany (not BRI),NaT,73.5,24.0,NaN,NaN,0.0212486,1.5,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.63407,NaN,5463.33,2.93949,203252,47785,DEU,80.0,11.0,NaN
22,Hungary,NaT,65.0,64.0,7.432143,18.0,-0.000144687,4.16592,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,-46.7692,NaN,1963.16,1.20606,9978,496,HUN,46.0,64.0,NaN
23,India,NaT,55.2,129.0,NaN,NaN,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,NA,NaN,NA,NA,NA,NA,IOT,NaN,NaN,NaN
24,Indonesia,NaT,65.8,56.0,6.250000,45.0,2.56898,2.557,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.91981,NaN,362.722,0.0847,51918,2271,IDN,38.0,89.0,NaN
25,Iran,NaT,51.1,155.0,3.154762,118.0,20.6965,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.10548,NaN,1563.75,0.25267,329107,15264,IRN,28.0,138.0,NaN
26,Iraq,NaT,NaN,NaN,3.746428,107.0,14.1052,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,-2.16237,NaN,493.718,0.0436,NA,613,IRQ,18.0,168.0,NaN
27,Israel,NaT,72.8,27.0,NaN,NaN,0.962753,1.29066,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,5.62325,NaN,2843.04,4.25121,3745,1436,ISR,61.0,34.0,NaN
28,Jordan,NaT,66.5,53.0,5.219048,72.0,7.00619,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.24602,NaN,494.754,0.33201,3085,26,JOR,49.0,58.0,NaN
29,Kazakhstan,NaT,65.4,59.0,4.703571,88.0,5.29952,9.30977,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.122004,NaN,858.77,0.14179,8491,1055,KAZ,31.0,124.0,NaN
30,Kuwait,NaT,60.8,90.0,5.607143,60.0,66.8067,1.94939,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,-0.0150889,NaN,2899.26,0.08079,NA,NA,KWT,41.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,Moldova,NaT,59.1,97.0,5.957143,54.0,3.42323,18.3772,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.05109,NaN,480.383,0.30186,3015,73,MDA,33.0,117.0,NaN
40,Mongolia,NaT,55.4,126.0,6.592857,34.0,13.5022,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,15.0007,NaN,466.691,0.13412,9101,124,MNG,37.0,93.0,NaN
41,Montenegro,NaT,60.5,92.0,7.346429,20.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,8.90738,NaN,1333.93,0.374,NA,10,MNE,45.0,67.0,NaN
42,Myanmar,NaT,53.6,139.0,3.375000,111.0,9.00322,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.8131,NaN,291.089,0.16216,4422,NA,MMR,29.0,132.0,NaN
43,Nepal,NaT,53.8,136.0,4.521429,92.0,17.77,1.69909,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.557991,NaN,155.97,0.3022,4005,20,NPL,31.0,124.0,NaN
44,Oman,NaT,61.0,88.0,4.428572,93.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,7.99832,NaN,2826.85,0.22178,11307,4,OMN,52.0,53.0,NaN
45,Pakistan,NaT,55.0,131.0,4.010715,102.0,NA,8.42949,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.753111,NaN,144.124,0.24605,30632,193,PAK,33.0,117.0,NaN
46,Philippines,NaT,63.8,70.0,6.471429,38.0,20.3576,1.57931,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.96225,NaN,342.287,0.13793,26922,323,PHL,36.0,99.0,NaN
47,Poland,NaT,67.8,46.0,8.578571,10.0,0.128546,3.94102,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.05434,NaN,1784.4,0.96538,33128,3924,POL,60.0,36.0,NaN
48,Qatar,NaT,72.6,28.0,5.884524,56.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,-1.13862,NaN,3926.12,0.50969,1117,19,QAT,62.0,33.0,NaN
49,Romania,NaT,68.6,42.0,NaN,NaN,0.0353324,6.41189,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.87285,NaN,1152.18,0.48209,18583,1098,ROU,47.0,61.0,NaN
50,Russia,NaT,58.9,98.0,5.310715,70.0,6.21763,10.0014,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.529989,NaN,1329.29,1.09557,233430,22777,RUS,28.0,138.0,NaN
51,Saudi Arabia,NaT,60.7,91.0,4.265476,97.0,23.0173,1.61365,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,0.54277,NaN,3117.23,0.81516,7423,909,SAU,49.0,58.0,NaN
52,Serbia,NaT,63.9,69.0,7.403571,19.0,5.06222,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,8.13196,NaN,1322.56,0.93022,3079,171,SRB,39.0,87.0,NaN
53,Singapore,NaT,89.4,2.0,7.154762,24.0,0.0715083,1.4002,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,22.5286,NaN,4083.75,2.15996,10608,1609,SGP,85.0,3.0,NaN
54,Slovakia,NaT,65.0,65.0,8.585714,9.0,6.64157e-05,3.70101,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.39663,NaN,2172.16,0.78965,8804,183,SVK,50.0,57.0,NaN
55,Slovenia,NaT,65.5,58.0,9.178572,6.0,0.80828,3.20363,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.8097,NaN,2772.23,2.00202,5590,470,SVN,60.0,36.0,NaN
56,Sri Lanka,NaT,56.4,115.0,6.614285,33.0,22.0549,2.49843,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.81162,NaN,491.493,0.10871,6893,277,LKA,38.0,89.0,NaN
57,Syria,NaT,NaN,NaN,1.571429,128.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,3.07378,NaN,159.716,0.01248,8211,120,SYR,13.0,178.0,NaN
58,Tajikistan,NaT,55.6,122.0,3.313095,115.0,15.9437,20.3894,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.93585,NaN,208.506,0.11556,160,2,TJK,25.0,152.0,NaN
59,Thailiand,NaT,68.3,43.0,4.714286,87.0,3.95276,3.0708,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.62349,NaN,635.022,0.78133,31183,979,THA,36.0,99.0,NaN
60,The United Arab Emirates,NaT,77.6,9.0,6.071429,52.0,0.381747,6.43557,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.50744,NaN,2546.19,0.96366,6075,52,ARE,70.0,23.0,NaN
61,Turkey,NaT,64.6,68.0,6.167857,51.0,2.50452,2.84271,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.70174,NaN,1089.25,0.8815,215220,8175,TUR,41.0,78.0,NaN
62,Turkmenistan,NaT,48.4,164.0,3.139286,119.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,4.87019,NaN,1116.86,NA,NA,44,TKM,20.0,161.0,NaN
63,United Kingdom (Not BRI),NaT,78.9,7.0,NaN,NaN,0.0477474,0.73466,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,2.07598,NaN,4177.82,1.68847,132300,13301,GBR,80.0,11.0,NaN
64,United States of America (Not BRI),NaT,76.8,12.0,NaN,NaN,2.64259,1.12682,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.2608,NaN,9869.74,2.74418,428225,293904,USA,71.0,22.0,NaN
65,Ukraine,NaT,52.3,147.0,6.539286,36.0,3.99768,54.5413,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.8925,NaN,534.191,0.44853,47531,2283,UKR,32.0,120.0,NaN
66,Uzbekistan,NaT,53.3,140.0,3.726191,108.0,5.18686,0.436415,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,1.23623,NaN,416.904,0.18903,6750,357,UZB,23.0,158.0,NaN
67,Vietnam,NaT,55.3,128.0,4.407143,94.0,NA,1.82498,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,6.32786,NaN,356.28,0.44113,55313,592,VNM,33.0,117.0,NaN
68,Yemen,NaT,NaN,NaN,1.721429,127.0,NA,NA,NaN,"Series([], Name: SP_NumericRating, dtype: floa...",...,-1.04813,NaN,144.518,NA,2941,15,YEM,14.0,176.0,NaN